<%= render Views::Books::Form::Section.new(f, id: "detailsFields", data: { 'details-set-target': "child" }) do |section| %>
  <%= section.title icon: "eye-slash", colored: f.object.hidden_fields.any?, classes: "bg-blue-300 hover:border-blue-500" do %>
    <%= f.object.hidden_fields.any? ? pluralize(f.object.hidden_fields.size, 'hidden field') : "Hide fields" %>
  <% end %>

  <%= section.body do %>
    <div data-controller="checkbox-set">
      <%= tag.fieldset class: "p-2" do %>
        <%= f.collection_check_boxes(:f, f.object.default_fields.reject {|c| c.name == Book.primary_attribute }.map { |c| [c.name, Book.human_attribute_name(c.name)] }, :first, :last) do |builder| %>
          <%= builder.label(class: "cursor-pointer py-1 px-2 flex justify-start items-center gap-2 hover:bg-gray-200") do %>
            <%= builder.check_box(checked: f.object.field_attributes.include?(builder.value), class: "rounded", data: {checkbox_set_target: "child"}) %>
            <span class="font-medium text-gray-700 mb-0 normal-case">
              <%= builder.text %>
            </span>
          <% end %>
        <% end %>
      <% end %>

      <div class="flex items-center justify-between gap-2 py-1 px-2">
        <button type="button" data-action="checkbox-set#deselectAll" class="flex-1 inline-flex items-center justify-center rounded-md border border-transparent bg-gray-200 px-2.5 py-1.5 text-base font-medium text-gray-900 shadow-sm hover:bg-gray-300">
          Hide all
        </button>
        <button type="button" data-action="checkbox-set#selectAll" class="flex-1 inline-flex items-center justify-center rounded-md border border-transparent bg-gray-200 px-2.5 py-1.5 text-base font-medium text-gray-900 shadow-sm hover:bg-gray-300">
          Show all
        </button>
      </div>
    </div>

    <div class="flex items-center justify-end gap-2 py-2 px-4 bg-gray-200">
      <%= render(Views::Button.new) { "Cancel" } %>

      <%= f.submit "Set", name: "field", class: "cursor-pointer inline-flex items-center rounded-md border border-transparent bg-blue-500 px-2.5 py-1.5 text-base font-medium text-white shadow-sm hover:bg-blue-400" %>
    </div>
  <% end %>
<% end %>
