<h1>Books#index</h1>

<%= search_form_for(
  @search,
  url: search_books_path,
  html: { method: :post, autocomplete: :off, autocapitalize: :none, class: "", data: { controller: "search" } }
) do |f| %>
  <details class="relative inline-block text-left z-20" id="detailsSort">
    <summary class="marker:hidden cursor-pointer">
      <div class="inline-flex items-center justify-center gap-2 w-full rounded-md border border-gray-300 bg-white px-4 py-2 font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:ring-offset-gray-100 <%= 'bg-orange-300 border-orange-500' if f.object.sorts.any? %>" id="detailsSortButton" aria-expanded="true" aria-haspopup="true">
        <i class="bi-arrow-down-up text-xl" aria-hidden="true"></i>
        <% if f.object.sorts.any? %>
          <span>Sorted by <%= pluralize(f.object.sorts.count, 'field') %></span>
        <% else %>
          <span>Sort</span>
        <% end %>
        <i class="bi-chevron-down text-gray-500 group-hover:text-gray-900" aria-hidden="true"></i>
      </div>
    </summary>
    <div class="absolute left-0 z-10 mt-1 min-w-96 origin-top-right rounded-md bg-white border-2 shadow-lg drop-shadow-lg focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="detailsSortButton" tabindex="-1">
      <h3 class="border-b mb-2 pb-1 font-bold px-2 py-1">Sort by</h3>

      <%= tag.fieldset class: "p-2 pt-0 space-y-2" do %>
        <% sort_object = f.object.sorts.any? ? f.object.sorts : f.object.build_sort %>
        <%= f.sort_fields(sort_object) do |s| %>
          <div class="fields flex items-center justify-between space-x-2" data-object-name="<%= s.object_name %>">
            <%= s.sort_select({}, class: "text-sm rounded p-1.5 pr-6 border-gray-400 bg-[right_0.125rem_center]") %>
          </div>
        <% end %>
      <% end %>

      <div class="flex items-center justify-end gap-2 py-2 px-4 bg-gray-200">
        <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-gray-200 px-2.5 py-1.5 text-base font-medium text-gray-900 hover:bg-gray-300" onclick="detailsSort.removeAttribute('open')">
          Cancel
        </button>
        <%= f.submit "Sort", name: "sort", class: "cursor-pointer inline-flex items-center rounded-md border border-transparent bg-blue-500 px-2.5 py-1.5 text-base font-medium text-white shadow-sm hover:bg-blue-400" %>
      </div>
    </div>
  </details>

  <%= f.submit class: "cursor-pointer inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto" %>
<% end %>

<div class="grow flex items-start -mt-px" role="region" aria-labelledby="booksTableCaption" tabindex="0">
  <table class="h-full min-w-full divide-y divide-gray-300">
    <caption id="booksTableCaption" class="h-0 overflow-hidden">
      <i class="bi-table" aria-hidden="true"></i>
      Main View
    </caption>

    <thead class="bg-gray-50">
      <tr class="divide-x divide-gray-200">
        <% Book.ransortable_attributes.each do |attribute_name| %>
          <%= tag.th(scope: :col, class: class_names("sticky top-0 z-10 bg-opacity-75 backdrop-blur backdrop-filter whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900", 'bg-orange-300': @search.sorts.map(&:attr_name).uniq.include?(attribute_name.to_s))) do %>
            <%= Book.human_attribute_name(attribute_name) %>
          <% end %>
        <% end %>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200 bg-white">
      <% @records.each do |record| %>
        <tr class="divide-x divide-gray-200">
          <% Book.ransortable_attributes.each do |attribute_name| %>
            <%= tag.td(class: class_names("whitespace-nowrap px-2 py-2 text-sm text-gray-500", 'bg-orange-200': @search.sorts.map(&:attr_name).uniq.include?(attribute_name.to_s))) do %>
              <%= record.public_send(attribute_name) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="<%= Book.ransortable_attributes.size %>">
          <div class="flex items-center justify-between p-2">
            <div class="">
              <%= form_tag(search_books_path, method: :post) do %>
                <%= select_tag :page_items, options_for_select([10, 20, 50, 100], selected = params[:page_items]) %>
                <%= submit_tag("Update", class: "cursor-pointer inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto") %>
              <% end %>
            </div>
            <div class="flex items-center justify-center">
              <%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
              <%== pagy_nav(@pagy) %>
            </div>
            <div class="">
              <%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
              <%== pagy_info(@pagy) %>
            </div>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
